<h1>albums page</h1>
<div id="artist-album">
  {{#each albumsArr}}
    <img src="{{images.1.url}}" alt="" width="100px" />
    <div id="album-info">
      <h3>{{name}}</h3>
      <a href="">View Tracks</a>
    </div>
  {{/each}}
</div>