<div id="card-container">
  <div id="card-list">
    {{#each albumsArr}}
      <div id="card">
        <img src="{{images.1.url}}" alt="" id="img-card" />
        <div id="name-and-link">
          <h3 id="name-card">
            {{name}}
          </h3>
          <a href="/tracks/{{id}}" id="card-link">View Tracks</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>