<div id="card-container">
  <div id="card-list">
    {{#each artistArr}}
      <div id="card">
        <img src="{{images.0.url}}" alt="" id="img-card" />
        <div id="name-and-link">
          <h3 id="name-card">
            {{name}}
          </h3>
          <a href="/albums/{{id}}" id="card-link">View Albums</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>