<h1>Spotify home page</h1>
<form action="/artist-search" method="get">
  <input type="text" name="artist" placeholder="Your artist here" />
  <br />
  <button type="submit">Search for an Artist!</button>
</form>