<div id="container">
  <div id="search-block">
    <form action="/artist-search" method="get" id="search-info">
      <input
        type="text"
        name="artist"
        placeholder="Your artist here"
        id="search-cage"
      />
      <br />
      <button type="submit" id="search-button">Search for an Artist!</button>
    </form>
  </div>
</div>