* {
  box-sizing: border-box;
}
body {
  align-items: center;
}
#container-home {
  background-image: url(/images/spotify-background.jpeg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}
#search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 33%;
  background-color: rgba(250, 235, 215, 0.492);
  border-radius: 5px;
}
#search-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-cage {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.398);
}
#search-button {
  background-color: rgba(211, 45, 45, 0.724);
  height: 30px;
  width: 200px;
  border: none;
  font-weight: bolder;
  color: antiquewhite;
}
#card-container {
  display: flex;
  justify-content: center;
}
#card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: 10px;
}
#name-card {
  font-size: 18px;
}
#name-and-link {
  background-color: rgb(168, 161, 161);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#img-card {
  width: 100%;
}
#card-link {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(243, 63, 63);
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
}
